@model ViewModels.BlogItems.BlogViewModel

<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "[tinymce-editor]",
        height: 500,
        theme: 'modern',
        plugins: [
          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime media nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor | codesample code',
        image_advtab: true,
        init_instance_callback: "initTinyMCEContent"
    });

    var initTinyMCEContent = function initTinyMCEContent(editor) {
        editor.setContent(atob('@Html.Raw(Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.BodyHtml??"")))'));
    };
</script>
<div class="container">
    <div class="row">
        <div class="column">
            <h3 class="no-bottom-margin">Edit Post</h3>
            <hr class="accent no-top-margin" style="width: 50%" />
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="column column-100">
                        <label>
                            Title
                            <input type="text" name="Title" value="@Model.Title" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="column column-100">
                        <label>
                            SEO Metadata
                            <input type="text" name="Metadata" value="@Model.Metadata" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="column column-50">
                        <label>
                            Snippet
                            <input type="text" name="TeaserText" value="@Model.TeaserText" />
                        </label>
                    </div>
                    <div class="column column-40">
                        <label>
                            Thumbnail URL<br />
                            <input type="text" name="ImageUrl" value="@Model.ImageUrl" />
                        </label>
                    </div>
                    <div class="column column-10">
                        <label>
                            Public<br />
                            @Html.CheckBoxFor(m => m.Public)
                        </label>
                    </div>
                </div>
                <label>
                    Body
                    <textarea name="BodyHtml" tinymce-editor value="@Model.BodyHtml"></textarea>
                </label>
                <div class="row">
                    <div class="column column-100">
                        <label>
                            Categories
                        </label>
                    </div>
                </div>
                <div class="row">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="column column-20">
                            <input type="text" name="Categories[]" value="@category" />
                        </div>
                    }
                    @for (var i = 0; i < 5 - Model.Categories.Length; i++)
                    {
                        <div class="column column-20">
                            <input type="text" name="Categories[]" />
                        </div>
                    }
                </div>
                <p class="text-right">
                    <button type="submit" class="button">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>