@model ViewModels.BlogItems.ListBlogsViewModel

<div class="container">
    <div class="row">
        <div class="column column-75">
            @if(Model.Page > 1)
            {
                <a href="/Admin/ListBlogs?page=@(Model.Page-1)">Previous </a>
            }
            Page @Model.Page of @Math.Ceiling(Model.Total / 10m)
            @if (Model.Page != @Math.Ceiling(Model.Total / 10m))
            {
                <a href="/Admin/ListBlogs?page=@(Model.Page+1)">Next </a>
            }
        </div>
        <div class="column column-25 text-right">
            <a class="button" href="/Admin/CreateBlog">New Blog</a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            @foreach (var blog in Model.Items)
            {
                <div class="blog-post-summary">
                    <h1>
                        <a href="/Admin/EditBlog/@blog.Id">@blog.Title</a>
                    </h1>
                    <hr class="accent" />
                    @if (!string.IsNullOrWhiteSpace(blog.ImageUrl))
                    {
                        <img src="/StaticAssets/@blog.ImageUrl" />
                    }
                    <p class="no-margin">
                        @foreach(var category in blog.Categories)
                        {
                            <a href="/posts?category=@Url.Encode(category)" class="category-tag">@category</a>
                        }
                    </p>
                    <p>@blog.TeaserText</p>
                    <div class="creation-stamp">
                        <small>@blog.CreatedBy.FullName - @blog.DateCreated.ToShortDateString()</small>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
</div>